
@font-face {
  font-family: 'FranklinGothic';
  src: url('FranklinGothic.eot?#iefix') format('embedded-opentype'),  url('FranklinGothic.woff') format('woff'), url('FranklinGothic.ttf')  format('truetype'), url('FranklinGothic.svg#FranklinGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
